PORT=8003
DB_HOST=localhost
DB_PORT=5432
DB_NAME=on-call-finaldb
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=super_secret_jwt_key_123
LDAP_URL=ldap://localhost:3890
LDAP_BASE_DN=ou=people,dc=company,dc=local
