# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local
.env.*

# Logs
*.log
npm-debug.log*

# Test coverage
coverage/
test-results/
/tests/
/jest.config.cjs
/jest.integration.config.cjs

*.sql



# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# PM2 (if used later)
.pm2/

# Docker (if used later)
*.env.docker
